h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.bsi__age-gate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bsi__age-gate.success {
  display: none;
}

.bsi__age-gate input::placeholder {
  text-transform: capitalize;
}

.bsi__age-gate form {
  display: flex;
  gap: 1rem;
}
